<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hiepnh.se1304_nguyenhuuhiep">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".allactivity.ChooseUserActivity"></activity>
        <activity android:name=".allactivity.CreateGroupActivity" />
        <activity android:name=".allactivity.UpdateInformationAccountActivity" />
        <activity android:name=".allactivity.CreateNewAccountActivity" />
        <activity android:name=".allactivity.ShowAccountManagementActivity" />
        <activity android:name=".allactivity.AccountManagementActivity" />
        <activity android:name=".allactivity.UpdateStatusActivity" />
        <activity android:name=".allactivity.UserSearchActivity" />
        <activity android:name=".allactivity.AdminActivity" />
        <activity android:name=".allactivity.WorkingDetailActivity" />
        <activity android:name=".allactivity.UserActivity" />
        <activity android:name=".allactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>